.block-comparison-slider(ref='container')
  //- After image (bottom layer, full width)
  .block-comparison-slider__image-container.block-comparison-slider__image-container--after
    BaseImage.block-comparison-slider__image(v-bind='props.after_image')

  //- Before image (top layer, clipped)
  .block-comparison-slider__image-container.block-comparison-slider__image-container--before(:style='{ clipPath: `inset(0 ${100 - sliderPosition}% 0 0)` }')
    BaseImage.block-comparison-slider__image(v-bind='props.before_image')

  //- Draggable divider handle
  .block-comparison-slider__divider(
    :style='{ left: sliderPosition + "%" }'
    @mousedown='startDrag'
    @touchstart='startDrag'
    role='slider'
    aria-label='Drag to compare before and after images'
    aria-valuemin='0'
    aria-valuemax='100'
    :aria-valuenow='Math.round(sliderPosition)'
    tabindex='0'
    @keydown='handleKeyboard'
  )
    .block-comparison-slider__handle
      BaseIcon.block-comparison-slider__handle-icon(name='caret')
      BaseIcon.block-comparison-slider__handle-icon.block-comparison-slider__handle-icon--right(name='caret')

  //- Labels
  .block-comparison-slider__label.block-comparison-slider__label--before Before
  .block-comparison-slider__label.block-comparison-slider__label--after After
