.block-accordion(ref='main')
  .block-accordion__container(ref='container')
    .block-accordion__section(v-for='(section, i) in props.accordion', :key='`section-${i}`',)
      button.block-accordion__header(@click='openAccordion(i)', v-on:click='makeActive(i)' :aria-expanded='i === expandedSection ? "true" : "false"', :aria-controls='sanitizeId(`${props.title}-content-${i}`)', :id='sanitizeId(`${props.title}-section-${i}`)', ref='headers', type='button')
        span.block-accordion__header-text(v-html='section.header')
        BaseIcon.block-accordion__header-icon(name='caret', :class="{ 'block-accordion__header-icon--active': i === expandedSection }")
      .block-accordion__content(:id='sanitizeId(`${props.title}-content-${i}`)', role='region', :aria-labelledby='sanitizeId(`${props.title}-section-${i}`)', ref='sections')
        .block-accordion__paragraph(v-for='(paragraph, j) in section.paragraphs', :key='`accordion-${i}-paragraph-${j}`')
          p.block-accordion__paragraph-text(v-html='paragraph.text')
        BaseImage.block-accordion__image(v-if='section.media_type === "image" && section.has_media' v-bind='section.image', forceVisible :bgColor='section.image.loading_mask ? section.image.loading_mask : null ')
        iframe.block-accordion__video(v-else-if='section.media_type === "video" && section.video.type === "embedded" && section.has_media', :src='section.video.src', title="YouTube video player", frameborder="0", allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        video.block-accordion__video(v-else-if='section.media_type === "video" && section.video.type === "file" && section.has_media' :src='section.video.src' controls type='video/mp4' ref='video')
