.style-guide-component

  .style-guide-component__divider
    h1 Typograghy
    p.style-guide-component__text Default header font styles. Use this as a guide to set responsive font sizes.
  .style-guide-component__container
    .style-guide-component__fonts
      h1 This is a header (h1)
      h2 This is a header (h2)
      h3 This is a header (h3)
      h4 This is a header (h4)
      h5 This is a header (h5)

  .style-guide-component__divider
    h1 Colors
    p.style-guide-component__text Global colors and values
  .style-guide-component__container.style-guide-component__container--centered
    .style-guide-component__col(v-for='(color, i) in global.colors')
      .style-guide-component__color-box(:style='{ background: `rgba(${color.color.red}, ${color.color.green}, ${color.color.blue}, ${color.color.alpha})` }')
      b.style-guide-component__color(v-html='color.label')
      .style-guide-component__color-main(v-html='`var(--${color.label}) = rgba(${color.color.red}, ${color.color.green}, ${color.color.blue}, ${color.color.alpha})`')
      .style-guide-component__color-rgb(v-html='`var(--${color.label}-rgb) = ${color.color.red}, ${color.color.green}, ${color.color.blue}`')

